-i https://packages.idmod.org/api/pypi/pypi-production/simple
click~=7.1
idmtools~=1.7
idmtools-platform-comps~=1.7
idmtools-models~=1.7
emod-api~=1.30
matplotlib
astor
astunparse
bs4
keyring
pyCOMPS~=2.6
requests~=2.29
unittest-xml-reporting~=3.2
pytest~=8.1